
.paragrafo {color:red;text-decoration:none}
.p2 {text-decoration:underline}
body {background-color:white}
p {text-decoration:underline;font-family:sans-serif, Verdana;}
h1 {font-size:250%;}

#tttt {color: blue}

#cabecalho {margin:10.0em}
#rodape {}

.titulo {color:green}

a:hover {


